In [1]:
5 - 5

0

# Jupyter Notebook
## Section 1: Markdown Basics

1. Create headers with hash
2. **Bold** and then *italics*

* this is bulted list
* This is comments

then this is regular text.

In [2]:
print?

In [3]:
print(5, 5 + 5)

5 10

## Section 2: The print FUnction

In [4]:
print('Hello World')

Hello World

In [5]:
print('quote')

quote

In [6]:
type(10)

int

In [7]:
type(3.4)

float

In [8]:
type('skis')

str

In [9]:
type([2.4, 'skis', None])

list

In [10]:
data_type = type([2.4, 'skiks', None])

data_type

list

In [11]:
int('123')

123

In [12]:
int(3.4)

3

In [13]:
int('345')

345

In [14]:
int(3.4)

3

In [16]:
int([1, 2, 3])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [17]:
tuple([1, 2, 3])

(1, 2, 3)

In [18]:
tuple([5, 6, 9])

(5, 6, 9)

In [19]:
type(45)

int

In [20]:
type('major league')

str

In [21]:
price = 5

In [22]:
print(price + 1)

6

In [23]:
price

5

In [24]:
tax = 2

In [25]:
price + tax

7

In [26]:
price = 7
tax = 2.5
price + tax

9.5

In [27]:
product_name = 'skis'

print(product_name)

skis

In [28]:
price_list = (2.50, 4.99, 10, None, 'Discount')

price_list_type = type(price_list)

price_list_type

tuple

# Assignment: Variable Assignment

## Task

- Create a 'tax' variable and assign a value of 2
- Create a 'total' variable equal to 'price' + 'tax'
- print 'total'

In [29]:
price = 5
tax = 2
total = price + tax
print(total)

7

In [30]:
price = 5
new_price =6
price = new_price
new_price = 7

print(price)

6

In [31]:
price = 5
del price

print(price)

NameError: name 'price' is not defined

In [32]:
old_inventory = 100
new_inventory = 85
print(old_inventory,new_inventory)

100 85

In [33]:
time = 9
new_time = 20
print(time, new_time)

9 20

In [34]:
del time

In [35]:
time

CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 11.7 µs

In [36]:
del new_time

In [37]:
new_time

NameError: name 'new_time' is not defined

In [41]:
2019_price = 12

SyntaxError: invalid decimal literal (1583064820.py, line 1)

In [44]:
snwboard_inventory = 100

new_inventory = 85

In [45]:
product = 'Super Board'
size = 'Medium'
dimensions = [160, 25, 2]

%who

Customer	 data_type	 dimensions	 inventory	 inventory_count	 new_inventory	 new_price	 old_inventory	 price
price_list	 price_list_type	 product	 product_name	 size	 snwboard_inventory	 tax	 total

In [46]:
mark = 100
sice = 70
number = [160, 56, 9]
marker = 'Mediums'

%who

Customer	 data_type	 dimensions	 inventory	 inventory_count	 mark	 marker	 new_inventory	 new_price
number	 old_inventory	 price	 price_list	 price_list_type	 product	 product_name	 sice	 size
snwboard_inventory	 tax	 total

In [47]:
%whos

Variable             Type     Data/Info
---------------------------------------
Customer             str      Barry
data_type            type     <class 'list'>
dimensions           list     n=3
inventory            int      6
inventory_count      int      0
mark                 int      100
marker               str      Mediums
new_inventory        int      85
new_price            int      7
number               list     n=3
old_inventory        int      100
price                float    9.99
price_list           tuple    n=5
price_list_type      type     <class 'tuple'>
product              str      Super Board
product_name         str      skis
sice                 int      70
size                 str      Medium
snwboard_inventory   int      100
tax                  int      2
total                int      7

In [48]:
items_2024 = ['skis', 'snowboard', 'sled']
items_2024

['skis', 'snowboard', 'sled']

In [49]:
del items_2024

In [50]:
items_2024 = ['skis', 'snowboard', 'sled']
items_2024

['skis', 'snowboard', 'sled']

# Fixing Variables
## Assignment 
Make the variables start like price_list_year and do it for 2018, 2019 and 2020. Then clean unnecessary variable names.

In [51]:
price_list_year2018 = [4.99, 8.99, 17.99, 22.99, 94.99]

price_list_year_2019 = [5.99, 9.99, 19.99, 24.99, 99.99]

price_list_year_2020 = [6.49, 10.49, 19.99, 26.99, 104.99]

%whos

Variable               Type     Data/Info
-----------------------------------------
Customer               str      Barry
data_type              type     <class 'list'>
dimensions             list     n=3
inventory              int      6
inventory_count        int      0
items_2024             list     n=3
mark                   int      100
marker                 str      Mediums
new_inventory          int      85
new_price              int      7
number                 list     n=3
old_inventory          int      100
price                  float    9.99
price_list             tuple    n=5
price_list_type        type     <class 'tuple'>
price_list_year2018    list     n=5
price_list_year_2019   list     n=5
price_list_year_2020   list     n=5
product                str      Super Board
product_name           str      skis
sice                   int      70
size                   str      Medium
snwboard_inventory     int      100
tax                    int      2
total                  int      7

In [52]:
numbers = 1.999
type(numbers)

float

In [53]:
fixed_number = int(numbers)
fixed_number, type(fixed_number)

(1, int)

In [54]:
del numbers, fixed_number

In [55]:
numbers = 1.987
type(numbers)

float

In [56]:
fixed_number = int(numbers)
fixed_number, type(fixed_number)

(1, int)

In [57]:
del fixed_number

In [58]:
numbers = 1.98
type(numbers)

float

In [59]:
convert_numbers = int(numbers)
convert_numbers, type(convert_numbers)

(1, int)

In [60]:
text = '1.2'
type(text)

str

In [61]:
fixed_number = float(text)
fixed_number, type(fixed_number)

(1.2, float)

In [62]:
text = '1.2'
type(text)

str

In [63]:
fixed_number = float(text)
fixed_number, type(fixed_number)

(1.2, float)

In [64]:
my_string = '3759'
my_float = 3.759
my_int = 3

In [65]:
int(my_string)

3759

In [66]:
int(my_float)

3

In [67]:
float(my_string)

3759.0

In [68]:
float(my_int)

3.0

In [69]:
my_int + my_float

6.759

In [70]:
my_int - my_float

-0.7589999999999999

In [71]:
my_int * my_float

11.277

In [72]:
my_int / my_float

0.7980845969672785

In [73]:
my_int // my_float

0.0

In [74]:
my_int % my_float

3.0

# Assignment: Arithemetic Operations
## Calculate the following numbers
* gross profit from selling a snowboard
* gross margin from selling a snowboard
* price needed for a gross margin of 70%
* Sales tax on a snowboard sale
* Amount of money if the gross profit from selling 5 snowboards is invested for one year.

In [75]:
gross_profit = 300.0
gross_margin = 0.6000120002400048
price_needed_for70 = 666.63333333332
sales_tax = 39
amount_after_1yr = 1575.0
print(gross_profit)
print(gross_margin)
print(price_needed_for70)
print(sales_tax)
print(amount_after_1yr)

300.0
0.6000120002400048
666.63333333332
39
1575.0

# 1. Calculate the gross profit on the snowboard
Formula: Price minus cost

In [76]:
snowboard_price = 499.99
snowboard_cost = 199.99
snowboard_price - snowboard_cost

300.0

# 2. Calculate the gross margin on our snowboard
Formula: Gross profit divided by price

In [77]:
gross_profit / snowboard_price

0.6000120002400048

# 3. Calculate the price needed to obtain a gross margin of 70%
Formula: Cost divided by (1 minus the desired margin.)

In [78]:
snowboard_cost / (1-.7)

666.6333333333332

# 4. Calculate the sales tax on a sale of our snowboard
Tax rate: 8%
Formula: Price * tax rate

In [79]:
int(snowboard_price * .08)

39

# 5. Calculate the amount of money we would have if we invested the profit from selling 5 snowboards for one year.
Assume an interest rate of 5%.
The formula is the amount_invested + (amount_invested * interest_rate)

In [80]:
amount_of_5_sold = gross_profit * 5
amount_of_5_sold + (amount_of_5_sold * .05)

1575.0

In [81]:
number = 3.759

In [82]:
round(number)

4

In [83]:
round(number,2)

3.76

# Assingment: Numeric Functions
* Highest price
* Lowest price
* How much would it cost for a customer to purchase 2 of every item, rounded to the nearest dollar?

In [84]:
price_list = (129.99, 99.99, 119.19, 99.99, 89.99, 79.99, 49.99)

In [85]:
max(price_list)

129.99

In [86]:
min(price_list)

49.99

In [87]:
round(2 * sum(price_list))

1338

# Strings

In [88]:
new_string = 'This is a string'
print(new_string)

This is a string

In [89]:
next_string = "Double quotes allow us to use 'inside' quotes"
print(next_string)

Double quotes allow us to use 'inside' quotes

In [90]:
last_string = '''Triple quotes allow us to write multiline strings. We dont have to worry about errors sue to using single or double quotes. Pretty cool!'''
print(last_string)

Triple quotes allow us to write multiline strings. We dont have to worry about errors sue to using single or double quotes. Pretty cool!

In [91]:
number = 22.5
string = str(number)

print(string)

22.5

# String Arithmetic
## concatenate using the plus symbol

In [92]:
'Snow' + 'board'

'Snowboard'

In [93]:
subject = 'My'
noun = 'Maven snowboard'
verb = 'cost'
price = 22.55

subject + ' ' + noun + ' ' + verb + ' $' + str(price) +'!'

'My Maven snowboard cost $22.55!'

## repeat somthing

In [94]:
'Repeat 3 times: ' + ("I will not steal ") * 3

'Repeat 3 times: I will not steal I will not steal I will not steal '

# Assignment: String Indexing
The cybersecurity analyst hid the password in a secret message. The password is 5 letters long and each letter is in one of each text variables. Use indexing to find out what the password is.

In [95]:
text1 = '    Your friend Mark'
text2 = 'was'
text3 = 'having'
text4 = 'a great day'
text5 = 'on the mountain'

In [96]:
maven = text1[-4] + text2[1] + text3[2] + text4[4] + text5[-1]

print('The secret password is ' + maven)

The secret password is Maven

# Assignment: The Length Function with Indexing
We need to use the length of the messages, to find the letter from the alphabet, this will help us build the password maven.

In [97]:
a = 'abcdefghijklmnopqrstuvwxyz'
msg1 = 'Hello World!'
msg2 = ''
msg3 = 'It snowed a lot today'
msg4 = 'eeee'
msg5 = 'I love snow!!'

# Crack the Code
combine the characters retrieved using the LENTGH funciton into a single string, and assign that to password.

In [98]:
password = (a[len(msg1)] 
            + a[len(msg2)] 
            + a[len(msg3)] 
            + a[len(msg4)] 
            + a[len(msg5)])

password

'maven'

# Boolean

In [99]:
inventory_count = 5

In [100]:
inventory_count == 0

False

In [101]:
inventory_count > 5

False

In [102]:
price = 99.99

In [103]:
inventory_count > 0 and price < 100

True

In [104]:
inventory = 6

price = 9.99
(inventory > 5) * price

9.99

In [105]:
Customer = 'Barry'
inventory_count = 0
product = 'super_snowboard'

In [106]:
inventory_count > 0 or (Customer == 'Chris' and product == 'super_snowboard')

False